*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微软雅黑","宋体";
}
a{
    text-decoration: none;
} 	
img{
	display: block;
}
body{
	background-image: url("../img/qiang.png");
	background-size: 100% auto;
}